# Binaries for programs and plugins
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

cmd/postman/postman
cmd/postman/postman.exe
cmd/postman/postman.db
cmd/postman/serve_files
cmd/postman/log
